* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("./assets/mapa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: #000000;
    width: 450px;
    border-radius: 20px;
    padding: 20px;

}

.input-text {
    background-color: #ffffff1a;
    width: 100%;
    height: 100px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.language {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;

}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.result {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.title-description {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.translate {
    color: #ffffff;
    font-size: 18px;
}